@import 'mixins';

@mixin adf-document-list-theme($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $primary: map-get($theme, primary);

  $document-list-selection-color: mat-color($primary) !default;
  $document-list-selection-background: #e0f7fa !default;
  $document-list-background: mat-color($background, background) !default;
  $document-list-text-color: mat-color($foreground, text, 0.54) !default;
  $document-list-name-text-color: mat-color($foreground, text) !default;
  $data-table-thumbnail-width: 50px !default;

  .adf-datatable-list {
    border: none;

    .adf-ellipsis-cell {
      overflow: hidden;
    }

    .adf-dynamic-column .adf-datatable-link:hover {
      text-decoration: none;

      .adf-datatable-cell-value {
        text-decoration: underline;
      }
    }

    .adf-datatable-cell,
    .adf-datatable-cell-header {
      .adf-datatable-link .adf-datatable-cell-value {
        padding: 0 10px;
      }
    }
  }

  .mat-icon.adf-datatable-selected > svg {
    fill: $document-list-selection-color;
  }

  adf-document-list {
    @include flex-column;
    background-color: $document-list-background;
  }

  .adf-datatable {
    @include flex-column;
    overflow-y: scroll;

    .adf-datatable-cell-header,
    .adf-datatable-cell {
      min-width: 120px;

      &.adf-no-grow-cell {
        min-width: 120px;
      }

      &.adf-datatable-cell--fileSize {
        min-width: 80px;
      }

      &:first-child {
        min-width: $data-table-thumbnail-width;
      }

      &:focus {
        outline: none !important;
      }
    }

    .adf-datatable-cell {
      color: $document-list-text-color;
    }

    .adf-datatable-body .adf-datatable-row {
      &:hover,
      &:focus {
        background-color: $document-list-selection-background;
      }

      &.adf-is-selected,
      &.adf-is-selected:hover {
        background-color: $document-list-selection-background;
      }
    }

    .adf-datatable--empty {
      .adf-datatable-row {
        &:hover,
        &:focus {
          background-color: unset;
        }
      }
    }
  }

  .adf-search-results .adf-datatable .adf-datatable-cell {
    padding-top: 9px;
    padding-bottom: 9px;
    min-height: auto;

    .adf-datatable-cell-value {
      display: inline-block;
      padding-left: 0;
    }
  }

  .adf-content-node-selector-content-list .adf-datatable-list {
    .adf-datatable-cell {
      flex: 0 1 auto;
      min-width: 1px;

      &:nth-child(2) {
        flex: 1 0 200px;
      }

      &.adf-content-selector-visibility-cell {
        display: initial;
      }
    }
  }
}
