<div class="adf-main-content">
  <h1>Custom Form Example</h1>

  <mat-card class="adf-card-view">
    <adf-card-view [properties]="properties" [editable]="true"> </adf-card-view>
    <button mat-button color="primary">
      Submit Data
    </button>
    &nbsp;&nbsp;
    <button
      mat-button
      id="adf-reset-card-log"
      (click)="reset()"
      color="primary"
    >
      Reset Log
    </button>
  </mat-card>

  <!-- <div class="adf-console" #console>
    <h3>Changes log:</h3>
    <p *ngFor="let log of logs">{{ log }}</p>
  </div> -->
</div>

<br />
